.joinpage {
    background-color: rgb(32, 30, 30);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joincontainer {
    /* border: 2px solid white; */
    /* height: 50%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joincontainer > img {
    width: 10vmax;
}

.joincontainer > h1 {
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: "Poppins";
    box-sizing: border-box;
}


#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    color: white;
    font-family: "Poppins";
    background-color: crimson;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}

.joinbtn:hover {
    background-color: rgb(180, 27, 58);
}